{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}



    <h1><img src="{% static 'apple.jpg' %}" alt="" width="50" height="40"><a href="{%url 'home' %}">Blog Project</a></h1>

    <div>
        {% if user.is_authenticated %}
            <h3>안녕하세요 {{user.username}}님 </h3>
            {{user.birthday}}
            {{user.gender}}
            <a href="{% url 'logout'%}">로그아웃</a>
        {% else %}
        <a href="{% url 'login'%}">로그인</a>
        <a href="{% url 'register'%}">회원가입</a>
        {% endif %}
    </div>

    {% for blog in blogs %}


    <hr>
    <a href="{%url 'detail' blog.id%}" id="content">
    <h3>{{blog.title}}</h3>
    <br>
    {{blog.summary}}
    <br>
    <br>
    {{blog.pup_date}}

    </a>
    <img>


    {% endfor %}
    <hr>
    <button type="button"><a href="{%url 'new'%}">작성하기</a>
{% endblock%}